{% extends "./sub_base.html" %}
{% load static %}
{% block title %}Painel de Pagamento{% endblock %}

{% block sub_content %}

<form id="payment-form">
  <h3 class="mb-3">Preencha suas informações</h3>
  <!-- Error messages in this element -->
  <div id="card-errors" class="a" role="alert"></div>
  <div class="row g-3">
    <div class="col-sm-7">
      <label for="firstName" class="form-label">Nome do cliente</label>
      <input type="text" class="form-control" id="custName" placeholder="" required>
      <div class="invalid-feedback">
        Nome válido é obrigatório.
      </div>
    </div>
    <div class="col-12">
      <label for="email" class="form-label">Email <span class="text-muted">(Opcional)</span></label>
      <input type="email" class="form-control" id="email" placeholder="you@example.com">
      <div class="invalid-feedback">
        Insira um endereço de e-mail válido para atualizações de envio.
      </div>
    </div>
    <div class="col-12">
      <label for="address" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="custAdd" placeholder="1234 Main St" required>
      <div class="invalid-feedback">
        Por favor insira seu endereço de entrega.
      </div>
    </div>
    <div class="col-12">
      <label for="address2" class="form-label">Endereço 2 <span class="text-muted">(Opcional)</span></label>
      <input type="text" class="form-control" id="custAdd2" placeholder="Apartment or suite">
    </div>
    <div class="col-md-5">
      <label for="country" class="form-label">País</label>
      <select class="form-select" id="country" required>
        <option value="">selecionar</option>
        <option>Brasil</option>
      </select>
      <div class="invalid-feedback">
        Forneça um país válido.
      </div>
    </div>
    <div class="col-md-4">
      <label for="state" class="form-label">estado</label>
      <select class="form-select" id="state" required>
        <option value="">selecionar</option>
        <option>São Paulo</option>
      </select>
      <div class="invalid-feedback">
        Forneça um estado válido.
      </div>
    </div>
    <div class="col-md-3">
      <label for="Postcode" class="form-label">Código Postal</label>
      <input type="text" class="form-control" id="postCode" placeholder="" required>
      <div class="invalid-feedback">
        Código postal necessário.
      </div>
    </div>
  </div>
  <hr class="my-4">
  <h4 class="mb-3">Forma de Pagamento</h4>
  <label for="card-element">Cartão de crédito ou débito</label>
  <div id="card-element" class="form-control form-control-payment">
    <!-- Payment elements will appear here -->
  </div>
  <hr class="my-4">
  <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">Pay</button>
</form>

<script>
  var STRIPE_PUBLISHABLE_KEY = '{{STRIPE_PUBLISHABLE_KEY}}'
  var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/index.js' %}" data-rel-js></script>

{% endblock %}
