{% load i18n %}{% autoescape off %}
{% blocktranslate %}Você está recebendo este e-mail porque solicitou uma redefinição de senha para sua conta de usuário em {{ site_name }}.{% endblocktranslate %}

{% translate "Vá para a página a seguir e escolha uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}A equipe do {{ site_name }}{% endblocktranslate %}

{% endautoescape %}